* {
	transition: all 0.2s;
	overflow-x: hidden;
}
.calc-block {
	border: 2px grey solid;
	padding: 10px;
	margin-bottom: 40px;
}
span {
	vertical-align: middle;
}
.form-group {
	margin: 0;
	display: inline-block;

}
.form-control {
	text-align: center;
	display: inline-block;
	width: 40px;
}
.price-btn {
	display: block;
	margin: 1rem auto;
}
.calc-img img {
	width: 100%;
	max-width: 500px;
}
.floor-number {
	margin-left: 5px;
}
.bigger{
	padding: 9px 0px;
}
.conainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btna{
	transform: translateX(-50px);
}
.leftS{
	margin-left: 15px;
}
.lllll{
	margin:0px 0px 10px 10px;
}
/* .row-center{
	margin: 0 auto;
} */
.ImgCalc{
	min-height: 300px;
	background-size: cover;
}
